# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

example

# generated native folders
/ios
/android

#컴포넌트 안쓰는거
animated-icon.module.css
collapsible.tsx
animated-icon.tsx
animated-icon.web.tsx
app-tabs.tsx
app-tabs.web.tsx
external-link.tsx
hint-row.tsx
themed-text.tsx
themed-view.tsx
web-badge.tsx